
<%= link_to book_path(book) do %>
<div class="col-md-3">
  <div class="thumbnail">
    <%= image_tag "book.jpg", class:"img-responsive"%>
    <div class="caption">
        <p><strong><%= link_to book.name, book_path(book) %></strong></p>
        <p>$<%= book.price / 100.0 %></p>
    </div>
  </div>
</div>
<%end%>
